.loader {
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 24px;
  height: 24px;
  border: 0.3rem solid #dd8436;
  border-top-color: #e6ebea;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.nothing {
  font-size: medium;
  font-weight: 700;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
}
